<div class="container" *ngIf="dataHealthy && dataPositif && dataDeath">
  <div class="flex flex-row">
    <app-skeleton-loader [CWidth]="100" [CHeight]="20"></app-skeleton-loader>
    <app-card [name]="dataPositif.name" [value]="dataPositif.value" backGround="yellow"
              class="w-full md:w1/3 p-4 mx-2"></app-card>
    <app-card [name]="dataHealthy.name" [value]="dataHealthy.value" backGround="green"
              class="w-full md:w1/3 p-4 mx-2"></app-card>
    <app-card [name]="dataDeath.name" [value]="dataDeath.value" backGround="red"
              class="w-full md:w1/3 p-4 mx-2"></app-card>
  </div>
  <p>{{dataPos.toString().split(',').join('')}}</p>
  <div class="flex flex-row">
    <div class="bg-white shadow=lg rounded w-full md:w1/3 p-4 mx-2">
      <canvas baseChart
              [datasets]="chartDataSets"
              [labels]="chartDataLabel"
              [options]="chartOptions"
              chartType="pie"
              [legend]="true"
      >
      </canvas>
    </div>
  </div>
</div>
